<h1>&Uuml;ber Uns</h1>
<p>
Im Neurorehazentrum für Kinder entstand Platz für ein Dojo.
<br>
Mit Matten und dann waren da 2 Aikidoka's die gerne Trainieren und ihre Begeisterung teilen wollten.
<br>
Im Mai 2010 haben wir gestartet. Wir heissen alle Willkommen.
</p>

<p>
Werner Michael 'Mike' Heller trainiert seit langer Zeit Aikido und hat sogar seine Kinder zum Training gezwungen.
So sehr mag er Aikido