
<p>
	Willkommem im Aikido Dojo Sch&uuml;pfheim.
	Wir sind ein junger Verein von Kampfkünstlern.<br>
	Wir trainiern hauptsächlich Aikido wobei sich Tai Chi, Karate und Ving Tsun ab und zu in den Unterricht einschleichen.
</p>
<p>
Wir trainieren <b>Dienstag</b> und <b>Donnerstags:</b><br>
Kinder und Jugendliche		<b>18.15 - 19.45</b><br>
Erwachsene und Oberstufe	<b>19.45 - 21.00</b><br>
</p>
<!--<%= link_to "Sign up now!", signup_path, :class => "signup_button round" %> -->
