<div style="float:right">
<% new_gallery = image_tag("add.png", :alt => "New Gallery", :class => "round") %>
<%= link_to new_gallery, new_gallery_path %>
</div>

<menu class="round">
  <ul>
	<%for gallery in Gallery.roots %>
      <li><%= link_to h(gallery.name), gallery %>
	  </li>
	<% end %>
  </ul>
</menu>

<h1>galleries</h1>
<%- if @galleries.empty? -%>
  <p><em>No galleries have been created yet.</em></p>
<%- else -%>
  <br />
  <table>
    <thead>
      <tr>
        <th>Name</th>
      </tr>
    </thead>
    <tbody id="gallery_tree">
      <%= render :partial => 'galleries_tree' -%>
    </tbody>
  </table>
<%- end -%>