<footer>
  <nav class="round">
    <ul>
	  <li><a href="	http://maps.google.ch/maps/ms?ie=UTF8&msa=0&msid=115894107363748035098.000490af781912db772c7&ll=46.951185,8.015932&spn=0.003556,0.007773&t=h&z=18&iwloc=000490af781b5565d92b1" target="_blank">Aikido Dojo Sch&uuml;pfheim &middot; Bahnhofstrasse 8 &middot; CH-6170 Sch&uuml;pfheim</a></li>
    </ul>
  </nav>
</footer>
